.addOn {
    align-content: space-between;
}

.addOn p{
    font-size: 0.8rem;
}

.addOn h2{
    font-size: 0.9rem;
    font-weight: var(--fw-bold);
}

.addOnSelected {
    border: 1px;
    border-color: crimson;
}