.addOn {
    align-content: space-between;
}

.addOn p{
    font-size: 0.8rem;
}

.addOn h2{
    font-size: 0.9rem;
    font-weight: var(--fw-bold);
}

.price{
    color: var(--clr-purpleish-blue);
}

.itemSpacing {
    justify-content: space-between;
}

.checkBoxGroup {
    display: flex;
    align-items: center;
    gap: 1rem;
}