.finishContainer {
    position: relative;
}

.summary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.summary p, h2 {
    font-size: 0.90rem;
}


.summaryPanel {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-alabaster);
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 1rem
}

.textGroup{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dividerLine {
    height: 1px;
    background-color: var(--clr-light-grey)
}

.total p{
    padding: 0.5rem 1rem;

}

.totalCost {
    color: var(--clr-purpleish-blue);
    font-weight: var(--fw-bold)
}


.finishUpData {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* min-width: 500px; */
}

.stepsNav {
    display: none;

    /* background-image: url('/Users/clairegill/Desktop/multi-step-form/src/assets/bg-sidebar-desktop.svg'); */
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0.5rem;
}


.navBar{
    display: flex;
    justify-content: flex-end;

    position: fixed;
    width: 100vw;
    bottom: 0%;
    right: 0%;
    background-color: var(--clr-white);
    padding: 1rem;
}



@media (min-width: 900px){

    .finishUpData {
        min-width: 443px;
        margin: 65px;
    }
 .finishUp {
     display: flex;
     
 }

 .stepsNav {
     display: flex;
     min-height: 568px;
     min-width: 274px;
 }

 .navBar{
    position: relative;
    width: 443px;
    bottom: 65px;
    left: 380px;
    
    padding: 0;
}

.finishContainer {
    position: static;
}
}