


.personalInfoData {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* min-width: 500px; */
}

.stepsNav {
    display: none;
    border-radius: 0.5rem;
}


.navBar{
    display: flex;
    justify-content: flex-end;

    position: fixed;
    width: 100vw;
    bottom: 0%;
    right: 0%;
    background-color: var(--clr-white);
    padding: 1rem;
}


.error{
    color: var(--clr-strawberry-red);
   
}

.spaceBetween {
    
    justify-content: space-between;
}

@media (min-width: 900px){

    .personalInfoData {
        min-width: 443px;
        margin: 65px;
    }
 .personalInfo {
     display: flex;
     
 }

 .stepsNav {
     display: flex;
     min-height: 568px;
     min-width: 274px;
 }

 .navBar{
    position: relative;
    width: 443px;
    bottom: 65px;
    left: 380px;
    
    padding: 0;
}
}
