.navBar{
    display: flex;
    justify-content: space-between;
    

    position: fixed;
    width: 100vw;
    bottom: 0%;
    background-color: var(--clr-white);
    padding: 1rem;
}

.switchCard {
    display: flex;
    justify-content: space-around;
    background-color: var(--clr-alabaster);
    
}


.switchCard h2 {
    font-size: 0.90rem;
    font-weight: var(--fw-medium);
}