
.steps{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 1rem;
}

.step{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid var(--clr-white);
    color: var(--clr-white);
    font-weight: var(--fw-bold);
}

