
:root {

  --clr-marine-blue: hsl(213, 96%, 18%);
  --clr-purpleish-blue: hsl(243, 100%, 62%);
  --clr-pastel-blue: hsl(228, 100%, 84%);
  --clr-light-blue: hsl(206, 94%, 87%);
  --clr-strawberry-red: hsl(354, 84%, 57%);


  --clr-cool-grey: hsl(231, 11%, 63%);
  --clr-light-grey: hsl(229, 24%, 87%);
  --clr-magnolia: hsl(217, 100%, 97%);
  --clr-alabaster: hsl(231, 100%, 99%);
  --clr-white: hsl(0, 0%, 100%);
  

  --ff-base: 'Ubuntu', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

}


/*
    1. Use a more-intuitive box-sizing model.
    */
    *, *::before, *::after {
      box-sizing: border-box;
      }
      /*
      2. Remove default margin
      */
      * {
      margin: 0;
      }
      /*
      3. Allow percentage-based heights in the application
      */
      html, body {
      height: 100%;
      }
      /*
      Typographic tweaks!
      4. Add accessible line-height
      5. Improve text rendering
      */
      body {
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
      }
      /*
      6. Improve media defaults
      */
      img, picture, video, canvas, svg {
      display: block;
      max-width: 100%;
      }
      /*
      7. Remove built-in form typography styles
      */
      input, button, textarea, select {
      font: inherit;
      }
      /*
      8. Avoid text overflows
      */
      p, h1, h2, h3, h4, h5, h6 {
      overflow-wrap: break-word;
      }
      /*
      9. Create a root stacking context
      */
      #root, #__next {
      isolation: isolate;
      }
  


body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  background-color: var(--clr-magnolia);
}

@media (min-width: 900px){
  body {
   
    background-image: none;
  }
}

h1 {
  font-size: 1.5rem;
  color: var(--clr-marine-blue)
}

h2 {
  font-size: 1rem;
  color: var(--clr-marine-blue)
}

h3 {
  font-size: 0.75rem;
  font-weight: var(--fw-regular);
  color: var(--clr-marine-blue)
}

p {
  font-size: 1rem;
  color: var(--clr-cool-grey);
}

/* utilities */

.flexGroup {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.flexGroup__col {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 0.5rem;
  border: 1px solid;
  border-color: var(--clr-cool-grey);
  padding: 0.5rem 1rem;
  font-weight: var(--fw-bold);
  font-size: 1.1rem;
  color: var(--clr-cool-grey);
}

.invalid input {
  border: 1px solid var(--clr-strawberry-red);
  
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--clr-cool-grey);
  font-size: 0.95rem;
  font-weight: var(--fw-medium);
}

label {
  color: var(--clr-marine-blue);
  font-size: 0.75rem;
  font-weight: var(--fw-medium);
}

button {
  color: var(--clr-white);
  background-color: var(--clr-marine-blue);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-weight: var(--fw-bold);
}


button:hover,
button:active
{
  background-color: var(--clr-pastel-blue);
}



